.list-block{
    text-align: center;
}
.list-block-info{
    padding: 0 15px;
    text-align: center;
}
@media only screen and (max-width: 767px){
    .list-block{
        display: flex;
        flex-wrap: wrap;
    }
    .list-block-info h2, .list-block-description{
        text-align: left;
    }
}