.main-wrapper{
    background-image: url('../images/background-desktop.jpg');
    background-size: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.main-title{
    display: block;
    font-size: 18px;
    letter-spacing: 2px;
}
.load-icon{
    font-size: 35px;
    animation: spin 2s infinite linear;
}
@media only screen and (max-width: 767px){
    .login-wrapper{
        background-image: url('../images/background-mobile.jpg');
    }
}